<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> mini whatsapp</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <form action="/chats/new">
        <button>New Chat</button>
    </form>
    <h3>All Chats!</h3>
 <% for(let chat of chats) {%>
    <div class="chat">  
        <p> <i>from: <%=chat.from%> </p></i> 
        <div class="msg">
            <p> <b> <%=chat.msg%></p> </b>   
            <form  method="get" action="/chats/<%=chat.id%>/edit">
                <button>Edit</button>
              </form>
            
              <form  method="post" action="/chats/<%=chat.id%>?_method=DELETE">
                <br>
                <button>Delete</button>
            </form> 
        </div>
        <p> <i> Recevied by <%= chat.to %></p> </i>
        <hr>
        <p> <%=chat.created_at.toString().split(" ")[4] %> </p> 
        <p> <%=chat.created_at.toString().split(" ").slice(0,4).join(" ") %> </p> 
    </div>
    <br><br>
<%}%>
</body>
</html>

